<mat-card>
	<mat-card-title><span class="login-form__title">Вхід</span></mat-card-title>
	<mat-card-content>
		<form class="login-form">
			<mat-form-field>
				<input matInput placeholder="Username" [(ngModel)]="credentials.phone" name="username" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Password" [(ngModel)]="credentials.password" type="password" name="password" required>
			</mat-form-field>
			<mat-error *ngIf="!isOk">Вы ввели неправильный логин или пароль</mat-error>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="login()" color="primary">Увійти</button>
	</mat-card-actions>
	<a routerLink="/register">Зареєструватися!</a>
</mat-card>