mat-nav-list mat-icon {
	margin-right: 20px;
}
mat-sidenav {
	width: 350px;
}
.example-sidenav-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
 }
.active {
	color: #F06292;
}

.menu__exit {
	position: absolute;
	bottom: 0;
}

.modal.left .modal-dialog{
	position: fixed;
	margin: auto;
	width: 350px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}


.modal.left .modal-header{
	padding: 40px 0 29px 31px;
}

.modal.left .modal-body{
	padding: 24px;
}

/*Left*/


.photo{
	width: 80px;
	border-radius: 50px;
}
.sidebar-header-wrapper{
	position: relative;
	margin-top: 21px;
}
.sidebar-header-wrapper > div{
	margin: 0;
}
.sidebar-nav-item{
	height: 50px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.sidebar-nav-item.active{
	background: #e6e6e6;
}
.exit{
	position: absolute;
	bottom: 24px;
}

.photo-settings{
	width: auto;
	height: 100px;
}
.info-header{
	color: rgba(0, 0, 0, 1);

	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.25px;
}
.info-secondary{
	color: rgba(0, 0, 0, 1);

	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.25px;
	line-height: 20px;
}
.info-text{
	color: rgba(0, 0, 0, 1);
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.25px;
	line-height: 20px;
}
