<main class="row appointment-grid no-gutters">
	<div class="col-md-6 pr-3">
		<button mat-stroked-button color="primary" class="button-custom button-add width-full" (click)="openDialog()">
			+ Добавить запись</button>
		<ng-container *ngFor="let booking of (bookings | async); let i = index">
			<mat-card class="appointment" *ngIf="i % 2 === 0">
				<div class="media">
					<img class="align-self-start" src="assets/photo.png">
					<div class="media-body">
						<div class="info-header">{{ booking.Service?.Name}}</div>
						<div class="info-secondary">{{ booking.DateFrom | date: 'd MMMM,  hh:mm' }}</div>
					</div>
				</div>
				<div class="info-phone">
					<mat-icon class="align-self-start">phone</mat-icon>
					{{booking.Service?.User?.Name }}, {{booking.Service?.User?.Phone }}
					<hr class="info-divider">
				</div>
				<div>
					<button mat-button color="primary" class="button-custom button-action" (click)="openDialog(booking)">Изменить</button>
					<button mat-button color="primary" class="button-custom button-action" (click)="deleteBooking(booking)">Отменить</button>
				</div>
			</mat-card>
		</ng-container>
	</div>
	<div class="col-md-6">
		<ng-container *ngFor="let booking of (bookings | async); let i = index">
			<mat-card class="appointment" *ngIf="i % 2 !== 0">
				<div class="media">
					<img class="align-self-start" src="assets/photo.png">
					<div class="media-body">
						<div class="info-header">{{ booking.Service?.Name}}</div>
						<div class="info-secondary">{{ booking.DateFrom | date: 'd MMMM,  hh:mm' }}</div>
					</div>
				</div>
				<div class="info-phone">
					<mat-icon class="align-self-start">phone</mat-icon>
					{{booking.Service?.User?.Name }}, {{booking.Service?.User?.Phone }}
					<hr class="info-divider">
				</div>
				<div>
					<button mat-button color="primary" class="button-custom button-action" (click)="openDialog(booking)">Изменить</button>
					<button mat-button color="primary" class="button-custom button-action" (click)="deleteBooking(booking)">Отменить</button>
				</div>
			</mat-card>
		</ng-container>
	</div>
</main>