main {
	overflow: auto;
}
.appointment-grid{
	padding: 20px;
}
.appointment{
	background: #FAFAFA;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #dadada;;
	margin-bottom: 20px;
	padding: 16px;
	img {
		width: 75px;
		border-radius: 50px;
	}
}

.button-add{
	height: 60px;
	font-size: 20px;
	margin-bottom: 20px;
}

.width-full{
	width: 100%;
}
.photo-settings{
	width: auto;
	height: 100px;
}
.info-header{
	color: rgba(0, 0, 0, 1);
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.25px;
}
.info-secondary{
	color: rgba(0, 0, 0, 1);
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.25px;
	line-height: 20px;
}
.info-text{
	color: rgba(0, 0, 0, 1);
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.25px;
	line-height: 20px;
}
.info-phone{
	color: rgba(0, 0, 0, 1);
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.25px;
	line-height: 20px;
}
.info-divider{
	margin-top: 10px;
	margin-bottom: 10px;
}
div[class^="info-"]{
	margin-left: 10px;
	margin-right: 10px;
}